# bin
mediaconch

# autotools generated
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
missing

# configure generated
.deps/
Makefile
config.log
config.status
libtool

# make generated
*.o

# test
test-driver
test-suite.log
SampleFiles

# tests output
simple.sh.log
simple.sh.trs
test_ffv1.sh.log
test_ffv1.sh.trs
