[Desktop Entry]
Name=mediaconch-gui.desktop
ServiceTypes=audio/*,video/*,image/*,application/x-flash-video
Actions=mediaconch-gui
X-KDE-Priority=TopLevel

[Desktop Action mediaconch-gui]
Name=MediaConch
GenericName=MediaConch
Exec=mediaconch-gui %u
Icon=mediaconch