/* MC-GUI specific CSS */

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
    color: inherit;
}

.policyPushContainer {
    margin-top: 10px;
}

.containerAutoWidth {
    position: relative;
}

.contentAutoWidth {
    position: absolute;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
