html, body {
    height: 100%;
}

body {
    font-family: OpenSans;
}

footer {
    border-top: 6px solid #3472A1;
    border-bottom: 2px solid #3472A1;
}

.navbar {
    margin-bottom: 0px;
    border: 0px;
    padding-right: 40px;
}

footer .navbar {
    padding-right: 0;
}

.navbar-collapse {
    border-top: 6px solid #3472A1;
    margin-bottom: 0px;
    border-bottom: 2px solid #3472A1;
}

.navbar a, .navbar-default a.navbar-brand {
    color: black;
}

.navbar li {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 5px;
    color: black;
    padding-top: 6px;
    padding-bottom: 6px;
}

.navbar ul.dropdown-menu li {
    border-left: none;
    border-right: none;
}

.navbar-brand img {
    display: inline;
}

.serif {
    font-family: Merriweather;
    font-size: 24px;
    line-height: 48px;
    color: black;
}

.headline {
    font-family: Merriweather;
    font-weight: 700;
    line-height: 1;
    font-size: 60px;
}

.tagline {
    font-size: 30px;
    line-height: 1.4;
    padding-bottom: 40px;
}

.button-padding {
    padding-bottom: 160px;
}

.content {
    padding-top: 40px;
    background-color: #F2F5F8;
    padding-bottom: 80px;
}

.content .col-lg-offset-1 {
    margin-left: 4.16666667%;
}

.panel {
    background-color: #F5F5F5;
}

.panel-default > .panel-heading {
    background-color: #64A8DD;
}

.panel-title {
    font-weight: bold;
    font-size: 20px;
}

.panel-collapse {
    padding: 10px;
}

.btn {
    color: black;
    font-size: 16px;
}

#checkerResults {
    padding-right: 0;
    padding-left: 0;
}

#checkerResultTitle button {
    padding-right: 15px;
}

.checker-results .btn {
    font-size: inherit;
    padding: 0 0 0 10px;
    float: right;
    border: 0px;
}

#result-table td p {
    margin: 0;
}

.tab-pane {
    background-color: #F5F5F5;
    padding-top: 10px;
}

.tab-pane .form-horizontal .control-label {
    text-align: left;
}

#file label.col-sm-2, #url label.col-sm-2, #repository label.col-sm-2 {
    padding-right: 0;
    padding-left: 0;
}

#file, #url, #repository {
    padding-right: 0;
}

.results-dld, .implem-dld, .policy-dld, .mi-dld, .mt-dld {
    margin-left: 10px;
}

.modal-body p {
    font-family: monospace;
}

#checkerResultTitle h2 {
    display: inline-block;
}

#fos_user_registration_form .required:after, #fos_user_profile_form .required:after, #xslPolicyRule .required:after {
    content: " *";
}

p.registration {
    margin-top: 12px;
}

.alert {
    margin-top: 20px;
}

.jstreeSearch {
    box-shadow: inset 0 0 4px #eee;
    width: 110px;
    margin: 0 2px;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid silver;
    font-size: 1.1em;
}

.jstree-grid-wrapper {
    margin-top: 10px;
}

#xslPolicyRule_editor {
    display: inline-block;
    margin-left: 10px;
}

#xslPolicyRule_editor .radio {
    display: inline-block;
    margin: 0 10px 0 0;
}

.xslPolicyRuleSaveButton {
    display: inline-block;
}

.xslPolicyRuleDuplicateButton {
    display: inline-block;
    margin-left: 30px;
}

.panel-body a button.pull-right {
    margin-left: 10px;
}

.spinner-cell, .spinner-status {
    background: transparent url("qrc:/ajax-spinner-small.gif");
    width: 16px;
    height: 14px;
    margin: 0 auto;
}

.spinner-modal {
    background: transparent url("qrc:/ajax-spinner-big.gif");
    width: 66px;
    height: 66px;
    display: block;
    margin: 0 auto;
}

.alert-modal-create-policy {
    display: inline-block;
    margin-top: inherit;
    margin-bottom: inherit;
    font-size: 16px;
    padding: 6px 12px;
}

.alert-modal-create-policy a {
    text-decoration: underline;
}
