html, body {
    height: 100%;
}

body {
    font-family: OpenSans;
    padding-top: 70px;
}

footer {
    border-top: 6px solid #3472A1;
    border-bottom: 2px solid #3472A1;
}

footer .navbar {
    padding-right: 0;
}

.navbar {
    border: 0px;
}

.navbar-default {
    background-color: #fff;
}

.navbar-right {
    margin-right: 0;
}

.navbar-default .navbar-collapse {
    border-top: 6px solid #3472A1;
    margin-bottom: 0px;
    border-bottom: 2px solid #3472A1;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover, .navbar-default a.navbar-brand, .navbar a {
    color: black;
}

.navbar-default .navbar li {
    border-left: 1px solid #3472A1;
    border-right: 1px solid #3472A1;
    padding: 5px;
    color: black;
    padding-top: 6px;
    padding-bottom: 6px;
}

.navbar-collapse.collapse.in .navbar li {
    border: none;
}

.navbar-default .navbar ul.dropdown-menu li {
    border-left: none;
    border-right: none;
}

.navbar > .container .navbar-brand {
    padding: 0;
    margin-left: 20px;
    margin-top: 5px;
}

@media (min-width: 768px) {
    .navbar > .container .navbar-brand {
        margin-top: 15px;
    }
}

.navbar-brand img {
    display: inline;
}

footer .navbar {
    margin-bottom: 0;
}

.serif {
    font-family: Merriweather;
    font-size: 24px;
    line-height: 48px;
    color: black;
}

.headline {
    font-family: Merriweather;
    font-weight: 700;
    line-height: 1;
    font-size: 60px;
}

.tagline {
    font-size: 30px;
    line-height: 1.4;
    padding-bottom: 40px;
}

.button-padding {
    padding-bottom: 160px;
}

.content {
    padding-top: 25px;
    background-color: #F2F5F8;
    padding-bottom: 30px;
}

.content .col-lg-offset-1 {
    margin-left: 4.16666667%;
}

.main {
    padding-left: 30px;
    padding-right: 30px;
}

.panel {
    background-color: #F5F5F5;
}

.panel-default > .panel-heading {
    background-color: #64A8DD;
}

.panel-title {
    font-weight: bold;
    font-size: 20px;
}

.panel-collapse {
    padding: 10px;
}

.btn {
    color: black;
    font-size: 16px;
}

#checkerResults {
    padding-right: 0;
    padding-left: 0;
}

#checkerResultTitle button {
    padding-right: 15px;
}

.checker-results .btn {
    font-size: 14px;
    line-height: 16px;
    border: 0px;
    padding: 0;
}

.checker-results .btn.result-close {
    padding: 0 0 0 10px;
}

#result-table td p {
    margin: 0;
}

@media (max-width: 1199px) {
    .status-text {
        display: none;
    }
}

.statusButton {
    display: inline-block;
}

.tab-pane {
    background-color: #F5F5F5;
    padding-top: 10px;
}

.tab-pane .form-horizontal .control-label {
    text-align: left;
}

#file label.col-sm-2, #url label.col-sm-2, #repository label.col-sm-2,
    #file label.col-sm-3, #url label.col-sm-3, #repository label.col-sm-3 {
    padding-right: 0;
    padding-left: 0;
}

#file, #url, #repository {
    padding-right: 0;
}

.results-dld, .implem-dld, .policy-dld, .mi-dld, .mt-dld {
    margin-left: 10px;
}

.modal-body p {
    font-family: monospace;
}

#checkerResultTitle h2 {
    display: inline-block;
}

#fos_user_registration_form .required:after, #fos_user_profile_form .required:after, #xslPolicyRule .required:after {
    content: " *";
}

p.registration {
    margin-top: 12px;
}

.alert {
    margin-top: 20px;
}

.jstreeSearch {
    box-shadow: inset 0 0 4px #eee;
    width: 110px;
    margin: 0 2px;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid silver;
    font-size: 1.1em;
}

.jstree-grid-wrapper {
    margin-top: 10px;
}

#policyFix {
    width: 370px;
}

#xslPolicyRule_editor {
    display: inline-block;
    margin-left: 10px;
}

#xslPolicyRule_editor .radio {
    display: inline-block;
    margin: 0 10px 0 0;
}

.xslPolicyRuleSaveButton {
    display: inline-block;
}

.xslPolicyRuleDuplicateButton, .xslPolicyRuleDeleteButton {
    display: inline-block;
    margin-left: 30px;
}

.policyEditActions .btn + .btn {
    margin-left: 30px;
}

.panel-body a button.pull-right {
    margin-left: 10px;
}

#policyInfo {
    height: 72px;
    margin-top: -50px;
}

#policyInfo .alert {
    margin-top: 0;
}

.policyRightCol {
    min-height: 600px;
}

#policyRuleCreateContainer {
    padding-bottom: 50px;
}

.policyEditRule .btn-group > .btn:first-child {
    margin-left: 15px;
}

.spinner-cell, .spinner-status, .spinner-policy {
    background: transparent url("qrc:/ajax-spinner-small.gif");
    width: 16px;
    height: 14px;
    display: block;
    margin: 0 auto;
}

.spinner-status, .spinner-policy {
    display: inline-block;
}

.spinner-policy {
    margin-left: 10px;
}

.spinner-modal {
    background: transparent url("qrc:/ajax-spinner-big.gif");
    width: 66px;
    height: 66px;
    display: block;
    margin: 0 auto;
}

.alert-modal-create-policy {
    display: inline-block;
    margin-top: 0;
    margin-bottom: inherit;
    font-size: 16px;
    padding: 6px 12px;
    line-height: 1.42857143;
}

.alert-modal-create-policy a {
    text-decoration: underline;
}

.policiesList .col-xs-12 .policyBox {
    border: 1px solid #ddd;
    padding: 15px 30px;
    font-size: 14px;
    line-height: 1.1;
    border-radius: 4px;
    display: block;
    background-color: ghostwhite;
    margin-bottom: 20px;
}

.policiesList .col-xs-12 .policyBox.policyBoxDisabled {
}

.policyBox h4 {
    margin-top: 0;
    text-align: center;
    word-wrap: break-word;
}

.policyBox h4 a:hover {
    text-decoration: none;
}

.policyBox .policyDescription {
    color: #808080;
    display: block;
    text-align: justify;
}

.policyBox .policyInfos {
    color: #808080;
    margin-top: 10px;
}

.policyBox .policyAuthor, .policyBox .policyLicense {
    display: block;
}

.policyBox .policyActions {
    margin-top: 20px;
}

#policyTree .popover-content ul, .policyEdit .popover-content ul {
    padding-left: 14px;
    list-style-type: initial;
}

.popover-content footer {
    border-top: 1px solid #ccc;
    border-bottom: none;
    margin-top: 10px;
    padding-top: 10px;
}

.popover-content {
    word-wrap: break-word;
}

.modal-body .jstree-default .jstree-anchor {
    line-height: 20px;
    height: 20px;
}

.modal-body .jstree-default .jstree-icon:empty {
    height: 20px;
    line-height: 20px;
    width: 20px;
}

.modal-body .jstree-default .jstree-node {
    min-height: 20px;
    line-height: 20px;
}

.jstree-grid-cell-regular.jstree-animated {
    line-height: 20px;
    height: 20px;
}
