<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="qrc:/bootstrap.css">
        <link rel="stylesheet" href="qrc:/jstree.css">
        <link rel="stylesheet" href="qrc:/datatables.css">
        <link rel="stylesheet" type="text/css" href="qrc:/main.css" media="screen"/>
        <script type="text/javascript">
          var WEBMACHINE = '{{ webmachine }}';
        </script>
        <script src="qrc:/jquery.js"></script>
        <script src="qrc:/bootstrap.js"></script>
        <script src="qrc:/jstree.js"></script>
        <script src="qrc:/jstreegrid.js"></script>
        <script src="qrc:/checker.js"></script>
        <script type="text/javascript" src="qrc:/datatables.js"></script>
        <script type="text/javascript" src="qrc:///qtwebchannel/qwebchannel.js"></script>
    </head>
    <body id="body">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        {% block checker %}{% endblock %}
                        {% block result %}{% endblock %}
                    </div>
                </div>
            </div>
    </div> <!-- ends container -->
        {% block bodyScript %}{% endblock %}
    </body>
</html>
