<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="qrc:/bootstrap.css"/>
        <link rel="stylesheet" href="qrc:/select2.css"/>
        <link rel="stylesheet" href="qrc:/select2-bootstrap.css"/>
        <link rel="stylesheet" href="qrc:/jstree.css"/>
        <link rel="stylesheet" href="qrc:/datatables.css"/>
        <link rel="stylesheet" type="text/css" href="qrc:/main.css" media="screen"/>
        <link rel="stylesheet" type="text/css" href="qrc:/main-gui.css" media="screen"/>
        <script src="qrc:/jquery.js"></script>
        <script src="qrc:/bootstrap.js"></script>
        <script src="qrc:/jstree.js"></script>
        <script src="qrc:/jstreegrid.js"></script>
        <script src="qrc:/datatables.js"></script>
        <script src="qrc:/select2.full.js"></script>
        <script src="qrc:/message.js"></script>
 {{ QT_SCRIPTS }}
        <script type="text/javascript">
          WEBMACHINE = '{{ webmachine }}';
          webpage = undefined;
        </script>
    </head>
    <body id="body" class="container">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mco-navbar" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href=""></a>
            <span class="navbar-brand serif">
              <img src="qrc:///icon/icon-61x38.png" alt="🐚" title="MediaConch" height="38" width="61"/>
              <span class="hidden-sm"><strong>MediaConch</strong></span>
            </span>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="mco-navbar">
            <ul class="nav navbar navbar-nav navbar-right">
              <li><a href="" onclick="menu.menu_change(event, this.text);">Checker</a></li>
              <li><a href="" onclick="menu.menu_change(event, this.text);">Policies</a></li>
              <li><a href="" onclick="menu.menu_change(event, this.text);">Public Policies</a></li>
              <li><a href="" onclick="menu.menu_change(event, this.text);">Display</a></li>
              <li><a href="" onclick="menu.menu_change(event, this.text);">Settings</a></li>
              <li><a href="" onclick="menu.menu_change(event, this.text);">Help</a></li>
            </ul>
          </div>
      </nav>

      <div>
            <div class="content">
                <div class="row">
                    <div class="col-lg-12 main">
                        {% block checker %}{% endblock %}
                        {% block result %}{% endblock %}
                    </div>
                </div>
            </div>
        </div> <!-- ends container -->
    </body>
</html>
